<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start"
        ><ion-menu-button></ion-menu-button
      ></ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="12" size-lg="6"
        ><mat-card style="width: 100%; height: 400px" id="highcharts"
          >Simple card</mat-card
        ></ion-col
      >
      <ion-col
        size="12"
        id="lineChart"
        size-md="12"
        size-lg="6"
        style="width: 100%; height: 400px"
        >2</ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
